@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* Poetry styling */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

time{
	font-style: italic;
}

.letter-detail{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#epilogue blockquote{
	margin-left: 0;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

p[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

